<span
  class="absolute left-[calc(var(--size)*-0.3536)] size-[calc(var(--size)*0.7071)] rotate-45 cursor-pointer border-b-1 border-l-1 border-base-content bg-(--btn-bg) transition-colors"
>
  <span
    class="absolute -bottom-[calc(var(--size)*0.2357-1px)] -left-[calc(var(--size)*0.2357-1px)] size-[calc(var(--size)*0.4125)] border-1 border-base-content"
  ></span>
  <span
    class="absolute -bottom-px -left-px size-[calc(var(--size)*0.2357)] bg-base-content"
  ></span>
</span>
<span
  class="absolute right-[calc(var(--size)*-0.3536)] size-[calc(var(--size)*0.7071)] -rotate-135 cursor-pointer border-b-1 border-l-1 border-base-content bg-(--btn-bg) transition-colors"
>
  <span
    class="absolute -bottom-[calc(var(--size)*0.2357-1px)] -left-[calc(var(--size)*0.2357-1px)] size-[calc(var(--size)*0.4125)] border-1 border-base-content"
  ></span>
  <span
    class="absolute -bottom-px -left-px size-[calc(var(--size)*0.2357)] bg-base-content"
  ></span>
</span>

<ng-content />
