<span
  class="absolute left-[calc(var(--size)*-0.3536)] size-[calc(var(--size)*0.7071)] rotate-45 cursor-pointer border-b border-l border-inherit bg-inherit bg-blend-screen transition-colors"
>
  <span
    class="absolute -bottom-[calc(var(--size)*0.2357-1px)] -left-[calc(var(--size)*0.2357-1px)] size-[calc(var(--size)*0.4125)] border border-inherit"
  ></span>
  <span
    class="absolute -bottom-px -left-px size-[calc(var(--size)*0.2357)] bg-(--btn-border)"
  ></span>
</span>
<span
  class="absolute right-[calc(var(--size)*-0.3536)] size-[calc(var(--size)*0.7071)] -rotate-135 cursor-pointer border-b border-l border-inherit bg-inherit transition-colors"
>
  <span
    class="absolute -bottom-[calc(var(--size)*0.2357-1px)] -left-[calc(var(--size)*0.2357-1px)] size-[calc(var(--size)*0.4125)] border border-inherit"
  ></span>
  <span
    class="absolute -bottom-px -left-px size-[calc(var(--size)*0.2357)] bg-(--btn-border)"
  ></span>
</span>

<ng-content />
