<ah-investigator-avatar [investigator]="investigator()">
  <div
    class="flex flex-col absolute -z-50 left-32 py-1 px-2 group w-0 h-40 overflow-hidden
      transition-all duration-300 peer-hover:w-36 peer-hover:z-10 hover:w-36
      hover:z-10"
    data-size="i"
  >
    <img
      fill
      class="absolute -z-10"
      alt="investigator-details"
      [ngSrc]="
        imagesService.getTemplate('investigator-details', investigator().class)
      "
    />

    <ah-card-title align="center" [card]="investigator().info" />
    <ah-card-subtitle [card]="investigator().info" />
    <ah-card-traits
      class="mt-0.5"
      [card]="investigator().info"
      [displayOptions]="displayOptions"
    />
    <ah-card-abilities
      class="mt-0.5"
      [card]="investigator().info"
      [displayOptions]="displayOptions"
    />
  </div>

  <div class="flex flex-col justify-center items-center text-center">
    <ah-investigator-skill
      type="willpower"
      [investigatorClass]="investigator().class"
      [value]="investigator().skills.willpower"
    />
    <ah-investigator-skill
      type="intellect"
      [investigatorClass]="investigator().class"
      [value]="investigator().skills.intellect"
    />
    <ah-investigator-skill
      type="combat"
      [investigatorClass]="investigator().class"
      [value]="investigator().skills.combat"
    />
    <ah-investigator-skill
      type="agility"
      [investigatorClass]="investigator().class"
      [value]="investigator().skills.agility"
    />
  </div>
  <div class="flex flex-col justify-center items-center text-center">
    <div class="relative flex w-[5rem] h-14 justify-between items-center">
      <img
        class="-z-20 absolute h-14 -scale-x-100 left-1.5"
        width="73"
        height="69"
        alt="investigator-skill-box"
        [ngSrc]="
          imagesService.getOverlay(CreateOverlay.skillBox(investigator().class))
        "
      />

      <img
        class="max-w-none h-7 ml-6"
        width="28"
        height="28"
        alt="investigator-resources"
        [ngSrc]="imagesService.getSimpleOverlay('resource')"
      />

      <span class="text-slate-700 font-[Teutonic] text-4xl mr-2">
        {{ investigator().tokens?.resource ?? 0 }}
      </span>
    </div>

    <div class="relative flex w-[5rem] h-14 justify-between items-center">
      <img
        class="-z-20 absolute h-14 -scale-x-100 left-1.5"
        width="73"
        height="69"
        alt="investigator-skill-box"
        [ngSrc]="
          imagesService.getOverlay(CreateOverlay.skillBox(investigator().class))
        "
      />

      <img
        class="max-w-none h-7 ml-6"
        width="28"
        height="28"
        alt="investigator-clues"
        [ngSrc]="imagesService.getSimpleOverlay('clue')"
      />

      <span
        class="text-slate-700 font-[Teutonic] text-4xl mr-2"
        [ahAnimateNumericChange]="investigator().tokens?.clue ?? 0"
      >
        {{ investigator().tokens?.clue ?? 0 }}
      </span>
    </div>
  </div>
</ah-investigator-avatar>
