<ng-container *transloco="let t">
  <img
    fill
    alt="threat background"
    class="-z-35 rounded"
    [ngSrc]="imagesService.getUrl('threat-enemy')"
  />

  <img
    alt="threat avatar"
    width="56"
    height="56"
    class="rounded-xs"
    [ngSrc]="
      imagesService.getUrl([
        'mini-illustration',
        enemy().setInfo.set,
        enemy().setInfo.index,
      ])
    "
  />

  <div class="flex w-full flex-col justify-between">
    <div class="flex justify-between">
      <div>
        <p class="font-[Conkordia] text-xl/5">{{ t(info()?.title ?? "") }}</p>
        @if (info()?.subtitle) {
          <p class="font-[ArnoPro] text-sm/3">{{ t(info()?.subtitle!) }}</p>
        }
      </div>
      <ah-enemy-attack-display [enemy]="enemy()" />
    </div>
    <div class="flex items-end gap-2">
      <ah-vitals-bar class="flex-1" [entity]="enemy()" />
      <ah-enemy-skill-tests-display [enemy]="enemy()" />
    </div>
  </div>
</ng-container>
