<ng-container *transloco="let t">
  <div class="peer text-center text-accent-content">
    <p class="-my-1 font-[ArnoPro] text-sm/4">
      {{ t("global_game_info.agenda") }} {{ agenda().stage }}
    </p>
    <p class="font-[Conkordia] text-xl">
      {{ t(title() ?? "") }}
    </p>
  </div>
</ng-container>

<!--suppress JSUnusedLocalSymbols -->
<div
  class="grid grid-flow-col gap-1"
  [class.grid-rows-1]="agenda().requiredDoom <= 6"
  [class.grid-rows-2]="agenda().requiredDoom <= 12 && agenda().requiredDoom > 6"
  [class.grid-rows-3]="agenda().requiredDoom > 12"
>
  @for (_ of [].constructor(agenda().currentDoom); track $index) {
    <img
      width="36"
      height="36"
      alt="doom token"
      class="flex-none brightness-125"
      [ngSrc]="imageService.getUrl(['card-overlay', 'doom'])"
    />
  }
  @for (_ of [].constructor(agenda().doomOnCards); track $index) {
    <img
      width="36"
      height="36"
      alt="doom token"
      class="brightness-95"
      [ngSrc]="imageService.getUrl(['card-overlay', 'doom'])"
    />
  }

  @for (_ of [].constructor(emptyDoomSlots()); track $index) {
    <img
      width="36"
      height="36"
      alt="doom token"
      class="brightness-25"
      [ngSrc]="imageService.getUrl(['card-overlay', 'doom'])"
    />
  }
</div>
<!-- eslint-disable @angular-eslint/template/no-duplicate-attributes -->
<ah-card-details-text
  class="absolute top-10 h-0 w-full rounded-sm px-2 text-white opacity-0 peer-hover:h-auto peer-hover:opacity-100"
  [class]="hostClasses()"
  [showTitle]="false"
  [card]="agenda()"
/>
<!-- eslint-enable @angular-eslint/template/no-duplicate-attributes -->
