@let _cardInfo = cardInfo();
@if (_cardInfo) {
  <ah-player-card [card]="card()" [displayOptions]="displayOptions()">
    <ah-card-cost [card]="card()" />

    <ah-card-title
      class="absolute text-center group-data-[size=l]:top-76 group-data-[size=m]:top-50 group-data-[size=s]:top-33"
      [card]="_cardInfo"
    />

    <div
      class="absolute font-[ArnoPro] group-data-[size=l]:top-84 group-data-[size=l]:px-8 group-data-[size=m]:top-56 group-data-[size=m]:px-8 group-data-[size=s]:top-36 group-data-[size=s]:px-4"
    >
      <ah-card-traits [card]="_cardInfo" [displayOptions]="displayOptions()" />
      <ah-card-abilities
        [card]="_cardInfo"
        [displayOptions]="displayOptions()"
      />
    </div>

    <ah-card-flavor [card]="_cardInfo" />
    <ah-card-copyright [card]="_cardInfo" [displayOptions]="displayOptions()" />
  </ah-player-card>
}
