<ng-container *transloco="let t; scope: 'pages/game-view/game-header/global-game-actions'; prefix: 'pages/game-view/game-header/global-game-actions'">
  @for (button of actions(); track button.icon) {
    @if (button.isVisible) {
      <div class="tooltip tooltip-bottom" [attr.data-tip]="t(button.tooltip)">
        <button type="button" class="btn btn-square btn-ghost hover:btn-neutral" (click)="button.handler()">
          <ah-svg class="size-6" [name]="button.icon" />
        </button>
      </div>
    }
  }
</ng-container>
