<!-- eslint-disable-next-line @angular-eslint/template/no-inline-styles -->
<div
  #playArea
  class="grid grid-cols-[repeat(var(--cols-count),11rem)]
    grid-rows-[repeat(var(--rows-count),9rem)] gap-x-[22rem] gap-y-[9rem] w-max"
  [style.--cols-count]="worldMap.width"
  [style.--rows-count]="worldMap.height"
>
  @for (place of worldMap.locations; track place.location.id) {
    <!-- eslint-disable-next-line @angular-eslint/template/no-inline-styles -->
    <ah-location
      class="relative col-span-2 row-span-2 rounded"
      [location]="place.location"
      [investigators]="place.investigators"
      [style.grid-column-start]="place.x"
      [style.grid-row-start]="place.y"
    />
  }
</div>
