<div
  class="group flex h-full w-full *:flex-1 data-[orientation=horizontal]:flex-row-reverse data-[orientation=vertical]:flex-col"
  [attr.data-orientation]="orientation()"
>
  @for (_ of [].constructor(max()); track $index) {
    @if ($index < current()) {
      <div
        class="group-data-[orientation=horizontal]:ml-1 group-data-[orientation=vertical]:mb-1 group-data-[orientation=horizontal]:last:ml-0 group-data-[orientation=vertical]:last:mb-0"
        [ngClass]="badColor()"
      ></div>
    } @else {
      <div
        class="group-data-[orientation=horizontal]:ml-1 group-data-[orientation=vertical]:mb-1 group-data-[orientation=horizontal]:last:ml-0 group-data-[orientation=vertical]:last:mb-0"
        [ngClass]="goodColor()"
      ></div>
    }
  }
</div>
