@if (location()) {
  <ah-location-header class="absolute top-0 z-1" [location]="location()" />

  <div class="relative flex h-108">
    <img
      alt="location-illustration"
      fill
      priority
      class="-z-50 rounded-3xl"
      [ngSrc]="
        imageService.getUrl([
          'illustration',
          location()!.setInfo.set,
          location()!.setInfo.index,
        ])
      "
    />

    <div
      class="flex w-4/5 flex-row flex-wrap-reverse place-content-start gap-2 place-self-end p-2"
    >
      @for (investigator of investigators(); track investigator.id) {
        @let basis =
          investigator.threatArea.length === 0
            ? "basis-24/100"
            : investigator.threatArea.length <= 2
              ? "basis-49/100"
              : investigator.threatArea.length <= 4
                ? "basis-74/100"
                : "basis-100/100";
        <ah-investigator-avatar
          [class]="basis"
          [investigator]="investigator"
          [attr.data-flip-id]="`mini-investigator-${investigator.id}`"
        >
          <div class="mx-1 flex h-40 flex-col flex-wrap gap-1">
            @for (engagedEnemy of investigator.threatArea; track engagedEnemy) {
              <ah-enemy-avatar
                class="w-33"
                [enemy]="store.getEnemy(engagedEnemy)"
              />
            }
          </div>
        </ah-investigator-avatar>
      }
    </div>
  </div>
}
