<div class="absolute -top-2 -left-2 size-2 border">
  <!-- top left -->
  <div
    class="absolute top-[calc(1rem-2px)] -left-px h-8 w-[calc(1rem-1px)] border-t border-l"
  ></div>
  <div
    class="absolute -top-px left-[calc(1rem-2px)] h-[calc(1rem-1px)] w-8 border-t border-l"
  ></div>
</div>
<div class="absolute -top-2 -right-2 size-2 border">
  <!-- top right -->
  <div
    class="absolute top-[calc(1rem-2px)] -right-px h-8 w-[calc(1rem-1px)] border-t border-r"
  ></div>
  <div
    class="absolute -top-px right-[calc(1rem-2px)] h-[calc(1rem-1px)] w-8 border-t border-r"
  ></div>
</div>
<div class="absolute -bottom-2 -left-2 size-2 border">
  <!-- bottom left -->
  <div
    class="absolute bottom-[calc(1rem-2px)] -left-px h-8 w-[calc(1rem-1px)] border-b border-l"
  ></div>
  <div
    class="absolute -bottom-px left-[calc(1rem-2px)] h-[calc(1rem-1px)] w-8 border-b border-l"
  ></div>
</div>
<div class="absolute -right-2 -bottom-2 size-2 border">
  <!-- bottom right -->
  <div
    class="absolute -right-px bottom-[calc(1rem-2px)] h-8 w-[calc(1rem-1px)] border-r border-b"
  ></div>
  <div
    class="absolute right-[calc(1rem-2px)] -bottom-px h-[calc(1rem-1px)] w-8 border-r border-b"
  ></div>
</div>
<div class="absolute inset-y-2 -left-2 border-l"></div>
<div class="absolute inset-y-2 -right-2 border-r"></div>
<div class="absolute inset-x-2 -top-2 border-t"></div>
<div class="absolute inset-x-2 -bottom-2 border-b"></div>
<ng-content />
