<div class="absolute -top-2 -left-2 size-2 border-1">
  <!-- top left -->
  <div
    class="absolute top-[calc(1rem-2px)] -left-px h-8 w-[calc(1rem-1px)] border-t-1 border-l-1"
  ></div>
  <div
    class="absolute -top-px left-[calc(1rem-2px)] h-[calc(1rem-1px)] w-8 border-t-1 border-l-1"
  ></div>
</div>
<div class="absolute -top-2 -right-2 size-2 border-1">
  <!-- top right -->
  <div
    class="absolute top-[calc(1rem-2px)] -right-px h-8 w-[calc(1rem-1px)] border-t-1 border-r-1"
  ></div>
  <div
    class="absolute -top-px right-[calc(1rem-2px)] h-[calc(1rem-1px)] w-8 border-t-1 border-r-1"
  ></div>
</div>
<div class="absolute -bottom-2 -left-2 size-2 border-1">
  <!-- bottom left -->
  <div
    class="absolute bottom-[calc(1rem-2px)] -left-px h-8 w-[calc(1rem-1px)] border-b-1 border-l-1"
  ></div>
  <div
    class="absolute -bottom-px left-[calc(1rem-2px)] h-[calc(1rem-1px)] w-8 border-b-1 border-l-1"
  ></div>
</div>
<div class="absolute -right-2 -bottom-2 size-2 border-1">
  <!-- bottom right -->
  <div
    class="absolute -right-px bottom-[calc(1rem-2px)] h-8 w-[calc(1rem-1px)] border-r-1 border-b-1"
  ></div>
  <div
    class="absolute right-[calc(1rem-2px)] -bottom-px h-[calc(1rem-1px)] w-8 border-r-1 border-b-1"
  ></div>
</div>
<div class="absolute top-2 bottom-2 -left-2 border-l-1"></div>
<div class="absolute top-2 -right-2 bottom-2 border-r-1"></div>
<div class="absolute -top-2 right-2 left-2 border-t-1"></div>
<div class="absolute right-2 -bottom-2 left-2 border-b-1"></div>
<ng-content />
