<div
  class="flex py-0 rounded-lg relative"
  ahCardOutline
  [cardClass]="baseModel().class"
>
  <img
    [ngSrc]="imagesService.getTemplate('Investigator', baseModel().class)"
    fill
    class="-z-30"
    priority
  />

  <ah-vitals-bar
    [asset]="baseModel()"
    [state]="assetState()"
    orientation="vertical"
  ></ah-vitals-bar>

  <img
    width="100"
    height="150"
    [ngSrc]="imagesService.getInvestigator(baseModel().setInfo)"
    class="peer"
  />

  <div
    class="flex flex-col absolute -z-50 left-32 py-1 px-2 group w-0 h-40 overflow-hidden
      transition-all duration-300 peer-hover:w-36 peer-hover:z-10 hover:w-36
      hover:z-10"
    data-size="i"
  >
    <img
      [ngSrc]="
        imagesService.getTemplate('Investigator-Details', baseModel().class)
      "
      fill
      class="absolute -z-10"
    />

    <ah-card-title [card]="baseModel()" [align]="'center'"></ah-card-title>
    <ah-card-subtitle [card]="baseModel()"></ah-card-subtitle>
    <ah-card-traits
      class="mt-0.5"
      [card]="baseModel()"
      [displayOptions]="displayOptions"
    ></ah-card-traits>
    <ah-card-abilities
      class="mt-0.5"
      [card]="baseModel()"
      [displayOptions]="displayOptions"
    ></ah-card-abilities>
  </div>

  <div class="flex flex-col justify-center items-center text-center">
    @for (skill of baseModel().skills; track $index) {
      <div
        class="relative flex w-16 h-10 justify-between items-center pl-2 pr-4"
      >
        <img
          [ngSrc]="
            imagesService.getOverlay(CreateOverlay.skillBox(baseModel().class))
          "
          class="-z-20 absolute left-0 h-10"
          width="73"
          height="46"
        />

        <span class="text-slate-700 font-[Teutonic] text-2xl">{{
          skill[1]
        }}</span>
        <img
          class="max-w-none h-6"
          [ngSrc]="imagesService.getOverlay(CreateOverlay.skillIcon(skill[0]))"
          width="24"
          height="25"
        />
      </div>
    }
  </div>
  <div class="flex flex-col justify-center items-center text-center">
    <div class="relative flex w-[5rem] h-14 justify-between items-center">
      <img
        [ngSrc]="
          imagesService.getOverlay(CreateOverlay.skillBox(baseModel().class))
        "
        class="-z-20 absolute h-14 -scale-x-100 left-0.5"
        width="73"
        height="69"
      />

      <img
        class="max-w-none h-7 ml-5"
        [ngSrc]="imagesService.getSimpleOverlay('resource')"
        width="28"
        height="28"
      />

      <span class="text-slate-700 font-[Teutonic] text-4xl mr-3">{{
        assetState().resources
      }}</span>
    </div>

    <div class="relative flex w-[5rem] h-14 justify-between items-center">
      <img
        [ngSrc]="
          imagesService.getOverlay(CreateOverlay.skillBox(baseModel().class))
        "
        class="-z-20 absolute h-14 -scale-x-100 left-0.5"
        width="73"
        height="69"
      />

      <img
        class="max-w-none h-7 ml-5"
        [ngSrc]="imagesService.getSimpleOverlay('clue')"
        width="28"
        height="28"
      />

      <span class="text-slate-700 font-[Teutonic] text-4xl mr-3">{{
        assetState().clues
      }}</span>
    </div>
  </div>
</div>
