<div
  class="h-full w-full bg-base-100/80 p-4 font-[ArnoPro] text-base-content outline outline-red-200"
>
  <h1 class="text-center font-[Conkordia] text-4xl">Debug panel</h1>

  <div class="tabs-box tabs">
    <input
      type="radio"
      name="debug-tabs"
      class="tab"
      aria-label="State editor"
      checked="checked"
    />
    <div class="tab-content border-base-300 bg-base-100 p-6">
      <ah-json-editor
        class="block h-150"
        [data]="gameState()!"
        [validateFn]="validateState"
        (update)="gameState.set($event)"
      />
    </div>

    <input type="radio" name="debug-tabs" class="tab" aria-label="Timeline" />
    <div class="tab-content border-base-300 bg-base-100 p-6">
      <div class="flex">
        <ul class="menu w-40 flex-none rounded-box bg-base-200">
          @for (_ of timelineService.patches(); track $index) {
            <li
              [class.bg-success]="
                $index < timelineService.currentAppliedPatch()
              "
              [class.text-success-content]="
                $index < timelineService.currentAppliedPatch()
              "
            >
              <a
                href="#"
                [class.menu-active]="$index === selectedPatch"
                (click)="selectedPatch = $index"
              >
                Patch {{ $index + 1 }}
              </a>
            </li>
          }
        </ul>
        <ah-json-editor
          class="block h-150 flex-grow"
          [data]="timelineService.patches()[selectedPatch]!"
        />
      </div>
    </div>
  </div>

  @if (stateErrors) {
    <div
      role="alert"
      class="alert h-30 overflow-scroll alert-outline alert-error"
    >
      <span class="whitespace-pre-wrap">{{ stateErrors }}</span>
    </div>
  }
  <p>Total patches: {{ timelineService.totalPatchesRecorded() }}</p>
  <p>Applied patches: {{ timelineService.currentAppliedPatch() }}</p>

  <div class="mt-4 *:mr-2">
    <button type="submit" class="btn btn-primary" (click)="savePatch()">
      Save patch
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      [disabled]="
        timelineService.currentAppliedPatch() ===
        timelineService.totalPatchesRecorded()
      "
      (click)="timelineService.applyNextPatch()"
    >
      Apply next patch
    </button>
    <button
      type="reset"
      class="btn btn-secondary"
      [disabled]="timelineService.currentAppliedPatch() === 0"
      (click)="timelineService.restoreOriginalState()"
    >
      Revert to original
    </button>
    <button
      type="reset"
      class="btn btn-error"
      (click)="timelineService.setOriginalStateFromStore()"
    >
      Set current state as original
    </button>
  </div>
</div>
