<div
  class="bg-base-100/80 outline outline-red-200 text-base-content font-[ArnoPro] h-full
    w-full p-4"
>
  <h1 class="text-center text-4xl font-[Conkordia]">Debug panel</h1>

  <div class="tabs tabs-box">
    <input
      type="radio"
      name="debug-tabs"
      class="tab"
      aria-label="State editor"
      checked="checked"
    />
    <div class="tab-content bg-base-100 border-base-300 p-6">
      <ah-json-editor
        class="block h-150"
        [data]="gameState()!"
        [validateFn]="validateState"
        (update)="gameState.set($event)"
      />
    </div>

    <input type="radio" name="debug-tabs" class="tab" aria-label="Timeline" />
    <div class="tab-content bg-base-100 border-base-300 p-6"></div>
  </div>

  @if (stateErrors) {
    <div
      role="alert"
      class="alert alert-error alert-outline h-30 overflow-scroll"
    >
      <span class="whitespace-pre-wrap">{{ stateErrors }}</span>
    </div>
  }
  <p>Total patches: {{ timelineService.totalPatchesRecorded() }}</p>
  <p>Applied patches: {{ timelineService.currentAppliedPatch() }}</p>

  <div class="mt-4 *:mr-2">
    <button type="submit" class="btn btn-primary" (click)="savePatch()">
      Save patch
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="timelineService.applyNextPatch()"
    >
      Apply next patch
    </button>
    <button
      type="reset"
      class="btn btn-secondary"
      (click)="timelineService.restoreOriginalState()"
    >
      Revert to original
    </button>
    <button
      type="reset"
      class="btn btn-error"
      (click)="timelineService.setOriginalStateFromStore()"
    >
      Set current state as original
    </button>
  </div>
</div>
