<div
  class="group bg-gray-950/70 rounded-l data-[orientation=horizontal]:px-1
    data-[orientation=vertical]:py-1 data-[orientation=vertical]:flex
    data-[orientation=horizontal]:w-full data-[orientation=vertical]:h-full"
  [attr.data-orientation]="orientation()"
>
  @if (state()) {
    @if (asset().sanity) {
      <ah-single-bar
        class="group-data-[orientation=horizontal]:h-1 group-data-[orientation=horizontal]:mb-1
          group-data-[orientation=horizontal]:mt-1 group-data-[orientation=vertical]:w-2
          group-data-[orientation=vertical]:flex
          group-data-[orientation=vertical]:flex-col
          group-data-[orientation=vertical]:mr-1 group-data-[orientation=vertical]:ml-1
          rounded-md"
        badColor="bg-sky-700"
        goodColor="bg-sky-300"
        [max]="asset().sanity!"
        [current]="state()?.horror ?? -1"
        [orientation]="orientation()"
      />
    }
    @if (asset().health) {
      <ah-single-bar
        class="group-data-[orientation=horizontal]:h-1 group-data-[orientation=horizontal]:mb-1
          group-data-[orientation=horizontal]:mt-1 group-data-[orientation=vertical]:w-2
          group-data-[orientation=vertical]:flex
          group-data-[orientation=vertical]:flex-col
          group-data-[orientation=vertical]:mr-1 rounded-md"
        badColor="bg-red-700"
        goodColor="bg-red-300"
        [max]="asset().health!"
        [current]="state()?.damage ?? -1"
        [orientation]="orientation()"
      />
    }
  }
</div>
