<div
  [attr.data-size]="displayOptions().cardSize"
  class="data-[size=l]:w-card-large data-[size=l]:h-card-large
    data-[size=m]:w-card-medium data-[size=s]:w-card-small
    data-[size=m]:h-card-medium data-[size=s]:h-card-small group relative block
    *:w-full outline-2 outline outline-sky-500 rounded-xl"
>
  <img
    [height]="cardHeights[displayOptions().cardSize]"
    [width]="cardWidths[displayOptions().cardSize]"
    class="-z-10 rounded-xl"
    [ngSrc]="imagesService.getTemplate(card().playerCardType, card().class)"
    priority
  />
  <img
    [height]="cardWidths[displayOptions().cardSize]"
    [width]="cardWidths[displayOptions().cardSize]"
    class="absolute top-0 -z-20 rounded-xl"
    [ngSrc]="imagesService.getIllustration(card().setInfo)"
  />

  <div>
    <span
      class="absolute group-data-[size=l]:left-[21px] group-data-[size=l]:top-[60px]
        group-data-[size=l]:w-9 group-data-[size=l]:text-[12px]
        group-data-[size=m]:left-[14px] group-data-[size=m]:top-[40px]
        group-data-[size=m]:w-6 group-data-[size=m]:text-[8px]
        group-data-[size=s]:left-[10px] group-data-[size=s]:top-[27px]
        group-data-[size=s]:w-3 group-data-[size=s]:text-[4px] bold uppercase
        text-center font-arno"
    >
      {{ card().playerCardType }}
    </span>
  </div>

  <ah-card-skills
    [card]="card()"
    [displayOptions]="displayOptions()"
    class="absolute group-data-[size=l]:top-[81px] group-data-[size=m]:top-[54px]
      group-data-[size=s]:top-[36px]"
  ></ah-card-skills>

  <ng-content></ng-content>
</div>
