<ah-card-player-base [card]="card()"></ah-card-player-base>
<ah-card-cost [card]="card()" class="absolute left-5 top-3"></ah-card-cost>

<ah-card-title [card]="card()" class="absolute top-[19rem]"></ah-card-title>

<div class="absolute top-[21rem] w-full pl-8 pr-8 font-arno leading-4">
  <ah-card-traits [card]="card()"></ah-card-traits>
  <ah-card-abilities [card]="card()"></ah-card-abilities>
</div>

<ah-card-flavor [card]="card()" class="absolute bottom-12"></ah-card-flavor>
<ah-card-copyright [card]="card()" class="absolute bottom-0.5"></ah-card-copyright>
