<ng-container *transloco="let t">
  @let _cardInfo = cardInfo();
  @if (_cardInfo) {
    @if (showTitle()) {
      <p
        class="mb-0 text-center font-[Conkordia] text-lg/5"
        data-testId="title"
      >
        {{ t(_cardInfo.title) }}
      </p>
    }
    @if (_cardInfo.subtitle) {
      <p class="mb-1 text-center font-[ArnoPro] text-sm" data-testId="subtitle">
        {{ t(_cardInfo.subtitle) }}
      </p>
    }
    <p
      class="mb-1 text-center font-[ArnoProBold] text-sm italic"
      data-testId="traits"
    >
      @for (trait of _cardInfo.traits; track $index) {
        <span class="mr-1">{{ t(trait) }}.</span>
      }
    </p>
    @for (ability of _cardInfo.abilities; track $index) {
      <p
        class="mb-1 font-[ArnoPro] text-base/4 whitespace-pre-wrap"
        data-testId="ability"
        [innerHtml]="t(ability) | withAhSymbols"
      ></p>
    }
  }

  <ng-content />
</ng-container>
