<ng-container
  *transloco="let t; scope: 'pages/game-view/current-investigator-panel/actions-area'; prefix: 'pages/game-view/current-investigator-panel/actions-area'"
>
  @let _action = action();
  @if (_action.originator) {
    <p>{{ t("given_action", { originator: _action.originator }) }}</p>
  }

  @if (_action.restrictions) {
    <p [innerHTML]="t(`restrictions.${_action.restrictions}`) | withAhSymbols"></p>
  } @else {
    <p>{{ t("standard_action") }}</p>
  }

  @if (_action.spentOn) {
    <p>
      {{
        t(`spent_on.${_action.spentOn.actionType}`, {
          target: _action.spentOn.target,
        })
      }}
    </p>
  }
</ng-container>
