@if (slots().length) {
  <!-- eslint-disable-next-line -->
  <div
    class="grid grid-cols-[repeat(var(--empty-slot-cols),_minmax(0,_1fr))] gap-2"
    [style.--empty-slot-cols]="emptyColumnsCount()"
  >
    <!-- eslint-disable-next-line -->
    <div
      class="col-span-(--empty-places)"
      [style.--empty-places]="
        emptyColumnsCount() - (slots().length % emptyColumnsCount())
      "
    ></div>
    @for (slot of slots(); track slot) {
      <ah-empty-slot class="rounded-sm" [slot]="slot" />
    }
  </div>
}
