<ah-dialog *transloco="let t" id="game-menu" [title]="t('settings')">
  <div class="text-center text-xl">
    <ah-setting-item
      #setting
      name="Language"
      tabindex="0"
      [template]="lang"
      [currentValue]="settings().lang"
      (nextValue)="nextLang()"
      (prevValue)="prevLang()"
    />
  </div>

  <div class="mt-8 flex items-center justify-center gap-8">
    <button
      type="submit"
      class="btn self-center btn-primary"
      (click)="applySettings()"
    >
      {{ t("Apply") }}
    </button>
    <button
      type="reset"
      class="btn-default btn self-center"
      (click)="discardSettings()"
    >
      {{ t("Discard") }}
    </button>
  </div>
  <ng-template #lang let-lang>
    <span class="w-32">{{ getLangDisplay(lang) }}</span>
  </ng-template>
</ah-dialog>
