<div
  class="relative flex rounded-lg"
  ahCardOutline
  [faction]="investigator().faction"
>
  <img
    fill
    class="-z-30 rounded-lg"
    priority
    alt="investigator-template"
    [ngSrc]="
      imagesService.getUrl([
        'card-template',
        'investigator',
        investigator().faction,
      ])
    "
  />

  <ah-vitals-bar orientation="vertical" [entity]="investigator()" />

  <div class="relative flex">
    <img
      width="104"
      height="160"
      class="peer rounded-lg"
      alt="investigator avatar"
      [ngSrc]="
        imagesService.getUrl([
          'investigator',
          investigator().setInfo.set,
          investigator().setInfo.index,
        ])
      "
    />

    <div class="absolute inset-x-0 bottom-0 flex justify-around bg-gray-900/80">
      <ah-asset-detail-icon
        [detail]="investigator().tokens?.resource"
        [image]="imagesService.getUrl(['card-overlay', 'resource'])"
      />
      <ah-asset-detail-icon
        [detail]="investigator().tokens?.clue"
        [image]="imagesService.getUrl(['card-overlay', 'clue'])"
      />
    </div>
  </div>

  <ng-content />
</div>
