@for (skill of skills(); track $index) {
  @for (_ of [].constructor(skill.value); track $index) {
    <div class="relative flex items-center">
      <img
        alt="skill-icon-box"
        [ngSrc]="imagesService.getOverlay(CreateOverlay.skillBox(card().class))"
        [width]="skillBox[displayOptions().cardSize].w"
        [height]="skillBox[displayOptions().cardSize].h"
      />
      <img
        class="absolute group-data-[size=l]:left-3 group-data-[size=l]:top-[9px]
          group-data-[size=m]:left-2 group-data-[size=m]:top-[5px]
          group-data-[size=s]:left-1.5 group-data-[size=s]:top-[4px]"
        alt="skill-icon"
        [ngSrc]="imagesService.getOverlay(CreateOverlay.skillIcon(skill.type))"
        [width]="skillIcon[displayOptions().cardSize]"
        [height]="skillIcon[displayOptions().cardSize]"
      />
    </div>
  }
}
