<div
  class="relative flex rounded-lg p-4"
  ahCardOutline
  [cardClass]="investigator().faction"
>
  <img
    fill
    class="-z-30 rounded-lg"
    priority
    alt="investigator-template"
    [ngSrc]="
      imagesService.getUrl([
        'card-template',
        'investigator',
        investigator().faction,
      ])
    "
  />

  @if (!withoutVitals()) {
    <ah-vitals-bar orientation="vertical" [entity]="investigator()" />
  }

  <img
    width="100"
    height="154"
    class="peer"
    alt="investigator avatar"
    [ngSrc]="
      imagesService.getUrl([
        'investigator',
        investigator().setInfo.set,
        investigator().setInfo.index,
      ])
    "
  />

  <ng-content />
</div>
