<ng-container *transloco="let t">
  <div class="flex justify-evenly">
    <div class="flex items-center">
      @for (_ of [].constructor(enemy().damageAttack); track $index) {
        <img
          width="19"
          height="24"
          alt="damage"
          class="mr-1"
          [ngSrc]="imageService.getSimpleOverlay('enemy-damage')"
        />
      }
    </div>
    <p class="font-[Conkordia] text-xl/6 text-center mb-0" data-testId="title">
      {{ t(title()!) }}
    </p>
    <div class="flex items-center">
      @for (_ of [].constructor(enemy().horrorAttack); track $index) {
        <img
          width="24"
          height="20"
          alt="horror"
          class="ml-1"
          [ngSrc]="imageService.getSimpleOverlay('enemy-horror')"
        />
      }
    </div>
  </div>

  <ah-card-details-text [card]="enemy()" [showTitle]="false">
    <div class="flex justify-evenly">
      <div class="flex">
        <img
          width="24"
          height="24"
          alt="fight value"
          [ngSrc]="imageService.getOverlay(CreateOverlay.skillIcon('combat'))"
        />
        <span class="font-[Teutonic] text-2xl/6 ml-1">{{ enemy().fight }}</span>
      </div>
      <div class="flex">
        <img
          width="24"
          height="24"
          alt="evade value"
          [ngSrc]="imageService.getOverlay(CreateOverlay.skillIcon('agility'))"
        />
        <span class="font-[Teutonic] text-2xl/6 ml-1">{{ enemy().evade }}</span>
      </div>
    </div>
  </ah-card-details-text>
</ng-container>
