@if (state.currentInvestigator() !== null) {
  <ah-investigator
    class="flex-none"
    [investigator]="state.currentInvestigator()!"
  />
  <ah-threat-area
    class="flex-none"
    [threatArea]="threats()"
    [noThreatsText]="noThreatsText()"
    [threatsSeverity]="threatsSeverity()"
  />
  <ah-control-area
    class="flex-1"
    [assets]="assets()"
    [faction]="state.currentInvestigator()!.faction"
    [maxSlotsCounts]="state.currentInvestigator()!.slotsCount"
  />
  <ah-actions-area class="flex-none" />
}
