<ah-investigator-avatar
  *transloco="let t"
  [investigator]="investigator()"
  [withoutVitals]="true"
  [attr.data-flip-id]="`investigator-${investigator().id}`"
>
  <div class="flex w-full flex-col">
    <div class="relative">
      <img
        class="-z-30"
        alt="investigator title background"
        fill
        [ngSrc]="
          imagesService.getUrl([
            'card-overlay',
            'title',
            investigator().faction,
          ])
        "
      />
      @if (info()) {
        <p class="text-center font-[Conkordia] text-2xl">
          {{ t(info()!.title) }}
        </p>
      }
    </div>
    <div class="relative mx-4">
      <img
        class="-z-30"
        alt="investigator subtitle background"
        fill
        [ngSrc]="
          imagesService.getUrl([
            'card-overlay',
            'subtitle',
            investigator().faction,
          ])
        "
      />
      @if (info()?.subtitle) {
        <p class="text-center font-[ArnoPro] text-base">
          {{ t(info()!.subtitle!) }}
        </p>
      }
    </div>
    <ah-vitals-bar [entity]="investigator()" />
  </div>
</ah-investigator-avatar>
