<div
  *transloco="let t"
  class="relative grid grid-cols-[6.25rem_1fr] grid-rows-[9.625rem_1fr] gap-2 rounded-lg p-4"
  ahCardOutline
  [faction]="investigator().faction"
>
  <img
    fill
    class="-z-40 rounded-lg brightness-125"
    priority
    alt="investigator background"
    [ngSrc]="
      imagesService.getUrl([
        'card-template',
        'investigator',
        investigator().faction,
      ])
    "
  />

  <img
    width="100"
    height="154"
    class="peer col-start-1 row-start-1 rounded-l-lg"
    alt="investigator avatar"
    [ngSrc]="
      imagesService.getUrl([
        'investigator',
        investigator().setInfo.set,
        investigator().setInfo.index,
      ])
    "
  />

  <div class="col-start-2 row-start-1 flex w-full flex-col justify-between">
    <div class="flex flex-col">
      <ah-investigator-title
        [text]="t(info()?.title ?? '')"
        [faction]="investigator().faction"
      />
      <ah-investigator-subtitle
        [text]="t(info()?.subtitle ?? '')"
        [faction]="investigator().faction"
      />
    </div>

    <ah-investigator-ability
      [faction]="investigator().faction"
      [text]="t((info()?.abilities ?? [''])[0]!)"
    />

    <ah-vitals-bar [entity]="investigator()" />
  </div>

  <ah-investigator-tokens
    class="col-start-2 row-start-2"
    [faction]="investigator().faction"
    [tokens]="investigator().tokens"
  />

  <ah-investigator-skills
    class="col-start-1 row-start-2"
    [faction]="investigator().faction"
    [skills]="investigator().skills"
  />
</div>
