@switch (card().cardType) {
  @case (CardType.Player) {
    @let playerCard = card() | as: PlayerCardBase;
    @switch (playerCard.playerCardType) {
      @case (PlayerCardType.Asset) {
        <ah-asset-card [card]="playerCard | as: AssetCard"></ah-asset-card>
      }
      @case (PlayerCardType.Event) {
        <ah-event-card [card]="playerCard | as: EventCard"></ah-event-card>
      }
      @case (PlayerCardType.Skill) {
        <ah-skill-card [card]="playerCard | as: SkillCard"></ah-skill-card>
      }
    }
  }
}
