<ah-card-player-base [card]="card()"></ah-card-player-base>
<ah-card-cost [card]="card()"></ah-card-cost>
<ah-card-title [card]="card()" class="absolute top-3"></ah-card-title>

<div class="absolute top-80 w-full pl-5 pr-9 font-arno leading-4">
  <ah-card-traits [card]="card()"></ah-card-traits>
  <ah-card-abilities [card]="card()"></ah-card-abilities>
</div>

@if (card().slot) {
  <div class="flex flex-row-reverse absolute bottom-4 right-3">
    <img
      [ngSrc]="imagesService.getOverlay(CreateOverlay.cardSlot(card().slot!))"
      width="62" height="62"
    />

    @if (card().additionalSlot) {
      <img
        [ngSrc]="imagesService.getOverlay(CreateOverlay.cardSlot(card().additionalSlot!))"
        width="62" height="62"
      />
    }
  </div>
}

<ah-card-copyright [card]="card()"></ah-card-copyright>
