<ng-container *transloco="let t; prefix: 'auth.credentials_form'">
  <form #form [formRoot]="signInForm">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">{{ t("legend") }}</legend>

      <label class="floating-label mt-2">
        <input type="email" class="validator input w-full" ahFocusTrap [formField]="signInForm.email" />
        <span>{{ t("email") }}</span>
      </label>

      <label class="floating-label mt-4">
        <input type="text" class="input w-full" [formField]="signInForm.username" />
        <span>{{ t("username") }}</span>
      </label>

      <label class="floating-label mt-4">
        <input type="password" class="input w-full" [formField]="signInForm.password" />
        <span>{{ t("password") }}</span>
      </label>
    </fieldset>

    @if (signInForm().errors()[0]; as err) {
      <div role="alert" class="mt-4 alert alert-soft alert-error">
        @if (err.message; as message) {
          <span>{{ message }}</span>
        } @else {
          <span>{{ t(`errors.${err.kind}`) }}</span>
        }
      </div>
    }

    <div class="mt-6 flex items-center justify-around gap-4">
      <button type="submit" class="btn btn-primary" [disabled]="signInForm().invalid() || signInForm().submitting()">
        @if (signInForm().submitting()) {
          <span class="loading loading-sm loading-spinner"></span>
        }
        {{ t(submitKey()) }}
      </button>
      <button type="button" class="btn btn-active" [disabled]="signInForm().submitting()" (click)="dismiss()">
        {{ t(dismissKey()) }}
      </button>
    </div>
  </form>
</ng-container>
