@import url("tailwindcss");

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/AHLCGSymbol.ttf") format("truetype");
  font-family: AHSymbol;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/arnopro_regular.otf") format("opentype");
  font-family: ArnoPro;
}

@font-face {
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/arnopro_bolddisplay.oft") format("opentype");
  font-family: ArnoPro;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/arnopro_bold.otf") format("opentype");
  font-family: ArnoProBold;
}

@font-face {
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/arnopro_boldcaption.otf") format("opentype");
  font-family: ArnoProBold;
}

@font-face {
  font-style: italic;
  font-weight: normal;
  src: url("/assets/fonts/arnopro_bolditalic.otf") format("opentype");
  font-family: ArnoProBold;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/Conkordia.ttf") format("truetype");
  font-family: Conkordia;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/Teutonic.ttf") format("opentype");
  font-family: Teutonic;
}

@layer utilities {
  .stroke {
    /* stylelint-disable */
    -webkit-text-stroke-width: thick;
  }
}
