/* stylelint-disable */
@import "tailwindcss";
@import "@toolwind/anchors";
@import "vanilla-jsoneditor/themes/jse-theme-dark.css";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "abyss";
  default: true;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: oklch(20% 0.08 209deg);
  --color-base-200: oklch(15% 0.08 209deg);
  --color-base-300: oklch(10% 0.08 209deg);
  --color-base-content: oklch(90% 0.076 70.697deg);
  --color-primary: oklch(47% 0.157 37.304deg);
  --color-primary-content: oklch(90% 0.076 70.697deg);
  --color-secondary: oklch(43% 0.095 166.913);
  --color-secondary-content: oklch(95% 0.051 180.801deg);
  --color-accent: oklch(43% 0 0deg);
  --color-accent-content: oklch(98% 0.022 95.277deg);
  --color-neutral: oklch(30% 0.08 209deg);
  --color-neutral-content: oklch(90% 0.076 70.697deg);
  --color-info: oklch(74% 0.16 232.661deg);
  --color-info-content: oklch(29% 0.066 243.157deg);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-rgb: #00a43b;
  --color-success-content: oklch(26% 0.065 152.934deg);
  --color-warning: oklch(84.8% 0.1962 84.62deg);
  --color-warning-content: oklch(44.8% 0.1962 84.62deg);
  --color-error: oklch(65% 0.1985 24.22deg);
  --color-error-rgb: #f04e4f;
  --color-error-content: oklch(27% 0.1985 24.22deg);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

*:not(:is(.cursor-reset, .cursor-reset *)) {
  cursor: default;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/AHLCGSymbol.woff2");
  font-family: AHSymbol;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/arnopro_regular.woff2");
  font-family: ArnoPro;
}

@font-face {
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/arnopro_bolddisplay.woff2");
  font-family: ArnoPro;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/arnopro_bold.woff2");
  font-family: ArnoProBold;
}

@font-face {
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/arnopro_boldcaption.woff2");
  font-family: ArnoProBold;
}

@font-face {
  font-style: italic;
  font-weight: normal;
  src: url("/assets/fonts/arnopro_bolditalic.woff2");
  font-family: ArnoProBold;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/Conkordia.woff2");
  font-family: Conkordia;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/Teutonic.woff2");
  font-family: Teutonic;
}

@layer utilities {
  .stroke {
    -webkit-text-stroke-width: thick;
  }

  .cursor-reset {
    cursor: unset;
  }

  .color-white {
    color: oklch(1 0 0);
  }
}

@theme {
  --color-sanity: oklch(0.635 0.1614 264.59);
  --color-health: oklch(0.7294 0.1658 20.79);
  --color-sanity-damaged: oklch(0.4421 0.2023 264.59);
  --color-health-damaged: oklch(0.4912 0.1969 20.79);

  --color-faction-guardian: oklch(0.376 0.1153 253.31);
  --color-faction-seeker: oklch(0.454 0.0867 70.52);
  --color-faction-rogue: oklch(0.3972 0.0783 154.06);
  --color-faction-survivor: oklch(0.4339 0.143 21.74);
  --color-faction-mystic: oklch(0.4481 0.0646 289.3);
  --color-faction-neutral: oklch(0.451 0.0176 77.29);

  --color-faction-guardian-darker: oklch(0.3279 0.0888 253.31);
  --color-faction-seeker-darker: oklch(0.403 0.0867 70.52);
  --color-faction-rogue-darker: oklch(0.3353 0.0783 154.06);
  --color-faction-survivor-darker: oklch(0.3559 0.143 21.74);
  --color-faction-mystic-darker: oklch(0.3591 0.0646 289.3);
  --color-faction-neutral-darker: oklch(0.365 0.0121 70.5);

  --color-faction-guardian-lighter: oklch(0.4866 0.1153 253.31);
  --color-faction-seeker-lighter: oklch(0.7448 0.1214 70.48);
  --color-faction-rogue-lighter: oklch(0.5074 0.0783 154.06);
  --color-faction-survivor-lighter: oklch(0.5134 0.143 21.74);
  --color-faction-mystic-lighter: oklch(0.5638 0.1186 289.3);
  --color-faction-neutral-lighter: oklch(0.7359 0.0176 77.29);

  --animate-blink: blink 8s ease-in-out infinite;
  --animate-radial-move: radial-move 180s linear infinite;
  @keyframes radial-move {
    0%,
    100% {
      background-position-x: 0;
      background-position-y: 50%;
    }
    25% {
      background-position-x: 50%;
      background-position-y: 0;
    }
    50% {
      background-position-x: 100%;
      background-position-y: 50%;
    }
    75% {
      background-position-x: 50%;
      background-position-y: 100%;
    }
  }

  @keyframes blink {
    45%,
    55% {
      --tw-gradient-from: color-mix(
        in oklab,
        var(--color-blue-600) 70%,
        transparent
      );
      --tw-gradient-to: color-mix(
        in oklab,
        var(--color-blue-800) 20%,
        transparent
      );
    }
    50% {
      --tw-gradient-from: color-mix(
        in oklab,
        var(--color-blue-500) 95%,
        transparent
      );
      --tw-gradient-to: color-mix(
        in oklab,
        var(--color-blue-500) 95%,
        transparent
      );
    }
  }
}
