<ah-player-card [card]="card()" [displayOptions]="displayOptions()">
  <ah-card-title
    [card]="card()"
    class="absolute group-data-[size=l]:top-3 group-data-[size=m]:top-1.5
      group-data-[size=s]:top-[7px]"
  ></ah-card-title>

  <div
    class="absolute group-data-[size=l]:top-[22rem] group-data-[size=l]:pl-14
      group-data-[size=l]:pr-8 group-data-[size=m]:top-[14.75rem]
      group-data-[size=m]:pl-10 group-data-[size=m]:pr-6
      group-data-[size=s]:top-[9.5rem] group-data-[size=s]:pl-6
      group-data-[size=s]:pr-4 font-[ArnoPro]"
  >
    <ah-card-traits
      [card]="card()"
      [displayOptions]="displayOptions()"
    ></ah-card-traits>
    <ah-card-abilities
      [card]="card()"
      [displayOptions]="displayOptions()"
    ></ah-card-abilities>
  </div>

  <ah-card-flavor [card]="card()"></ah-card-flavor>
  <ah-card-copyright
    [card]="card()"
    [displayOptions]="displayOptions()"
  ></ah-card-copyright>
</ah-player-card>
