@let _asset = asset();
<img
  fill
  class="peer -z-1 rounded-sm"
  alt="asset art"
  [ngSrc]="
    imagesService.getUrl([
      'mini-illustration',
      _asset.setInfo.set,
      _asset.setInfo.index,
    ])
  "
/>

@if (!passive()) {
  <div class="flex flex-col flex-wrap justify-between bg-gray-900/70">
    @if (_asset.hasAction) {
      <p
        class="rounded-full border bg-gray-200 px-0.25 pt-1 text-center font-[ArnoPro] text-xs text-gray-500"
        [innerHTML]="'#n#' | withAhSymbols"
      ></p>
    }

    <ah-asset-detail-icon
      [detail]="_asset.tokens?.resource"
      [image]="imagesService.getUrl(['card-overlay', 'resource'])"
    />
    <ah-asset-detail-icon
      [detail]="_asset.tokens?.clue"
      [image]="imagesService.getUrl(['card-overlay', 'clue'])"
    />
    <ah-asset-detail-icon
      [detail]="_asset.tokens?.doom"
      [image]="imagesService.getUrl(['card-overlay', 'doom'])"
    />
    <div
      class="flex flex-col"
      [class.hidden]="!_asset.slot && !_asset.additionalSlot"
    >
      @if (_asset.slot) {
        <ah-asset-detail-icon
          [detail]="_asset.slot"
          [image]="imagesService.getUrl(['card-overlay', 'slot', _asset.slot])"
          [withoutText]="true"
        />
      }
      @if (_asset.additionalSlot) {
        <ah-asset-detail-icon
          [detail]="_asset.additionalSlot"
          [image]="
            imagesService.getUrl([
              'card-overlay',
              'slot',
              _asset.additionalSlot,
            ])
          "
          [withoutText]="true"
        />
      }
    </div>
  </div>

  @if (_asset.health || _asset.sanity) {
    <ah-vitals-bar class="h-full" orientation="vertical" [entity]="_asset" />
  }
}

<!-- eslint-disable-next-line -->
<ah-asset-popover
  class="pointer-events-none anchored/(--anchor-name) fixed top-anchor-top-6 right-anchor-left-1 isolate -z-50 w-60 opacity-0 transition-opacity group-hover:pointer-events-auto group-hover:z-50 group-hover:opacity-100 hover:pointer-events-auto hover:z-50 hover:opacity-100 data-[hovered=true]:pointer-events-auto data-[hovered=true]:z-50 data-[hovered=true]:opacity-100"
  [attr.data-hovered]="hovered()"
  [style.--anchor-name]="anchorName()"
  [asset]="_asset"
/>
