<ng-container *transloco="let t">
<div class="
  h-full w-52/100 bg-linear-to-r from-zinc-900/90 from-77% to-zinc-900/5
  font-[Conkordia]
">
  <div class="ml-[8%] flex w-8/13 flex-col items-center gap-4">
    <ah-title class="my-16 min-w-80" />
    @for (item of mainItems; track item) {
      <button
        ah-art-button
        type="button"
        class="
          w-70 text-2xl tracking-wide transition btn-lg
          hover:scale-103 hover:btn-primary
        "
        (click)="select()"
      >
        {{ t(`main_menu.${item}`) }}
      </button>
    }
  </div>
</div>
</ng-container>
