<ah-location-header [location]="location()" />

<div class="flex h-108 relative">
  <img
    alt="location-illustration"
    fill
    priority
    class="-z-50"
    [ngSrc]="imageService.getIllustration(location().setInfo)"
  />

  <div
    class="w-4/5 p-2 flex flex-row flex-wrap-reverse place-content-start place-self-end
      gap-2"
  >
    @for (investigator of investigators(); track investigator.id) {
      <ah-entity-avatar class="basis-74/100" [investigator]="investigator">
        <div class="flex flex-col flex-wrap gap-1 mx-1 h-40">
          <div class="bg-zinc-900/70 w-33">
            <ah-vitals-bar [state]="{ damage: 2 }" [asset]="{ health: 3 }" />
            <img
              alt="enemy"
              width="132"
              height="45"
              class="max-w-none h-fit"
              [ngSrc]="imageService.getIllustration(enemyImage)"
            />
          </div>

          <div class="bg-zinc-900/70 w-33">
            <ah-vitals-bar [state]="{ damage: 1 }" [asset]="{ health: 2 }" />
            <img
              alt="enemy"
              width="132"
              height="45"
              class="max-w-none h-fit"
              [ngSrc]="imageService.getIllustration(enemyImage)"
            />
          </div>

          <div class="bg-zinc-900/70 w-33">
            <ah-vitals-bar [state]="{ damage: 1 }" [asset]="{ health: 2 }" />
            <img
              alt="enemy"
              width="132"
              height="45"
              class="max-w-none h-fit"
              [ngSrc]="imageService.getIllustration(enemyImage)"
            />
          </div>
        </div>
      </ah-entity-avatar>
    }
  </div>
</div>
