<ng-container
  *transloco="
    let t;
    prefix: 'game_view.current_investigator_panel.actions_area'
  "
>
  <div class="flex items-center-safe justify-between gap-2">
    <div class="flex flex-wrap gap-1">
      <div
        class="flex size-6 items-center justify-center rounded-sm bg-base-content pt-1 text-xs"
        [innerHTML]="'#n#' | withAhSymbols"
      ></div>
      <div
        class="flex size-6 items-center justify-center rounded-sm bg-base-content pt-1 text-xs"
        [innerHTML]="'#n#' | withAhSymbols"
      ></div>
      <div
        class="flex size-6 items-center justify-center rounded-sm bg-base-content/30 pt-1 text-xs"
        [innerHTML]="'#n#' | withAhSymbols"
      ></div>
    </div>
    <div class="flex gap-1">
      <div class="tooltip" [attr.data-tip]="t('draw_card')">
        <button type="button" class="btn btn-square btn-neutral">
          <ah-svg name="cards-draw" class="size-10" />
        </button>
      </div>
      <div class="tooltip" [attr.data-tip]="t('take_resource')">
        <button type="button" class="btn btn-square btn-neutral">
          <ah-svg name="resource" class="size-10" />
        </button>
      </div>
      <div class="tooltip" [attr.data-tip]="t('view_discard')">
        <button type="button" class="btn-disabled btn btn-square">
          <ah-svg name="cards-pile" class="size-10" />
        </button>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-neutral">{{ t("end_turn") }}</button>
</ng-container>
