<img
  fill
  class="brightness-90"
  alt="skills box"
  [ngSrc]="
    imagesService.getUrl(['card-template', 'investigator-details', faction()])
  "
/>
<div class="grid grid-cols-2 grid-rows-2 gap-x-1 px-2">
  <ah-investigator-skill type="willpower" [value]="skills().willpower" />
  <ah-investigator-skill type="intellect" [value]="skills().intellect" />
  <ah-investigator-skill type="combat" [value]="skills().combat" />
  <ah-investigator-skill type="agility" [value]="skills().agility" />
</div>
