<div class="flex" [style.--card-offset]="cardOffset()">
  @for (card of cards(); track card.id) {
    <ah-card
      [card]="card.cardInfo"
      [displayOptions]="cardDisplayOptions"
      class="mr-[var(--card-offset)] last-of-type:mr-0 origin-bottom relative isolate"
      [attr.data-index]="$index"
      (click)="cardSelected.emit(card)"
      [@cardState]="card.id === focusedCardId ? 'focused' : 'normal'"
      (mouseenter)="focusedCardId = card.id"
      (mouseleave)="focusedCardId = undefined"
    ></ah-card>
  }
</div>
