<div
  class="flex ml-[calc(var(--card-offset)_-_160px)]"
  [style.--card-offset]="cardOffset()"
>
  @for (card of cards(); track card.id) {
    <ah-card
      [card]="card.cardInfo"
      [displayOptions]="cardDisplayOptions"
      class="origin-bottom isolate"
      [attr.data-index]="$index"
      (click)="cardSelected.emit(card)"
      [@cardState]="card.id === focusedCardId ? 'focused' : 'normal'"
      (mouseenter)="focusedCardId = card.id"
      (mouseleave)="focusedCardId = undefined"
    ></ah-card>
  }
</div>
