# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Backend CI
permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
    paths:
      - 'backend/**'
      - '.github/workflows/backend.yml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'backend/**'
      - '.github/workflows/backend.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'backend'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10
      - name: Install coverage tool
        run: dotnet tool install --global dotnet-reportgenerator-globaltool
      - name: Install Sonar scanner
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Start Sonar
        run: dotnet sonarscanner begin /k:"rombolshak_ahlcg_backend" /o:"rombolshak"
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal --collect:"XPlat Code Coverage" --logger:"trx"
      - name: Create coverage report
        run: reportgenerator -reports:"**/coverage.cobertura.xml" -targetDir:"coveragereport" -reporttypes:Html,Lcov,SonarQube -filefilters:"-*Generated*" -classfilters:"-*Generated*"
      - name: Stop Sonar
        run: dotnet sonarscanner end

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        if: ${{ github.actor != 'dependabot[bot]' }}
